.campo_formulário {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-variant: normal;
	color: #666;
	border: 1px solid #666;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}
